/* Global Styles */
body {
    margin: 0px;
}

td {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
}

a {
    color: #003366;
}

a:hover {
    color: #5C743D;
}

/* ID Styles */
#navigation td {
    border-bottom: 1px solid #F4FFE4;
}

#navigation a {
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #D5EDB3;
    line-height: 16px;
    letter-spacing: .1em;
    text-decoration: none;
    display: block;
    padding: 8px 6px 14px 16px;
}

#navigation a:hover {
    background: #B1CEEB;
    color: #003366;
}

#dateformat {
    font: 11px Arial, Helvetica, sans-serif;
    color: #003366;
    letter-spacing: .2em;
}

#dateformat a {
    font: 11px Arial, Helvetica, sans-serif;
    color: #003366;
    font-weight: bold;
    letter-spacing: .1em;
    text-decoration: none;
}

#dateformat a:hover {
    color: #F4FFE4;
    letter-spacing: .1em;
}

/* Class Styles */
.navText {
    font: 12px Arial, Helvetica, sans-serif;
    color: #003366;
    line-height: 16px;
    letter-spacing: .1em;
    text-decoration: none;
}

.foot {
    align: center;
    background-color: #ffffcc;
    width: 100%;
    height: 60px;
}

.error {
    color: #ff0000;
    font-style: italic;
}

.required {
    color: #ff0000;
    font-weight: bold;
}

.msgText {
    font: 14px;
    color: #006600;
    font-style: italic;
}

.welcomeText {
    font: 24px Arial, Helvetica, sans-serif;
    color: #003366;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: .21em;
}